.logo_header {
    background: url(b-log.png);
    position: absolute;
    width: 45px;
    height: 76px;
    top: 25px;
    left: 25px;
    z-index: 1;
}

#bouton_lecture{
    position: absolute;
    left: 35%;
    top: 40%;
}

/*----- NAVBAR -----*/
#bouton_navbar {
    position: absolute;
    width: 61px;
    height: 61px;
    left: 14%;
    bottom: 10.67%;
    background: #AE121C;
    border-radius: 30px;
}

#cercle_container {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 41%;
    right: 41%;
    bottom: 57.67%;
    border-radius: 56px;

}

/*----- FIN NAVBAR -----*/

/*----- SLIDER -----*/
#slider_container {
    position: relative;
    bottom: 30px;
}

.wrapper1 {
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

.wrapper1 section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0;
}

.wrapper1 section .item {
    padding: 0 2px;
    transition: 250ms all;
}

.wrapper1 section .item:hover {
    margin: 0 40px;
    transform: scale(1.2);
}

.wrapper1 section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: black;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.wrapper1 section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.wrapper1 section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

/*----- FIN SLIDER -----*/